<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>OAuth Server Index</title>
    <link rel="stylesheet" href="http://localhost:7070/authserver/webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h1 class="page-header">OAuth Server Administration Dashboard </h1>
    <div class="row">
        <div class="col-md-12" >
            <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" sec:authorize="hasRole('ROLE_ADMIN')">
            <h2>Clients</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Client ID</th>
                    <th>Resource IDs</th>
                    <th>Scopes</th>
                    <th>Grant Types</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="client : ${clientDetails}">
                    <td th:text="${client.clientId}"></td>
                    <td th:text="${client.resourceIds}"></td>
                    <td th:text="${client.scope}"></td>
                    <td th:text="${client.authorizedGrantTypes}"></td>
                    <td th:text="${client.authorities}"></td>
                    <td>
                        <a class="btn btn-default btn-xs" th:href="@{/clients/form?client=__${client.clientId}__}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-default btn-xs" th:href="@{/clients/__${client.clientId}__/delete}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <a class="btn btn-default btn-xs pull-right" href="/authserver/clients/form">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
